* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homecontainer {
  background: linear-gradient(180deg, #0100ffe0, #00ff00ad);
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersbox,
.rolebox {
  background: linear-gradient(180deg, #0100ffe0, #00ff00ad);
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* User Management Section */
.user-management,
.role-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 90%;
  /* overflow-y: scroll; */
  /* margin: 40px; */
  background-color: #42c7bb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

.user-list,
.role-list {
  background-color: #2500ff;
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 242, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00aeff;
}






.user-item,
.role-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userdata {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.userheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2500ff;
  padding: 5px;
}

.userheads {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: darkblue;
  color: white;
}

.user-item button,
.role-item button {
  padding: 5px 10px;
  margin-left: 30px;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: flex;
  width: 80px;
  /* align-items: center; */
  justify-content: center;
}

.add-user,
.add-role {
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.permissions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-user input,
.add-role input {
  padding: 8px;
  margin: 5px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-user button,
.add-role button {
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.permissions label {
  margin-right: 5px;
}

/* Styling for buttons */
button:hover {
  opacity: 0.8;
}

.mobilelinks{
  display: none;
}
.mobilebar{
  display: none;
}
.permition{
  padding-right: 3px;
}



@media screen and (max-width: 768px) {

  .user-management,
  .role-management {
    width: 95%;
  }
  .mobilelinks{
    display: none;
  }
  .mobilebar{
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .user-management,
  .role-management {
    width: 95%;
  }

  .usersbox,
  .rolebox {
    height: 100%;
        width: 100%;
        display: flex;
        /* overflow-y: scroll; */
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
  }

  .add-user,
  .add-role {
    display: flex;
    flex-direction: column;
  }

  .user-item,
  .role-item {
    display: flex;
    flex-direction: column;
  }

  .user-item button,
  .role-item button {
    padding: 5px 10px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .userdata {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 110px;
  }

  .ullinks {
    display: none !important;
  }

  .mobilelinks {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #00205c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    align-items: end;

  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
    right: 0;
    top: 30px;
    width: 100%;
  }

  .mlist {
    margin-top: 10px;
  }

  .mlink {
    color: white;
  }

  .mobilebar {
    display: flex;
    align-items: center;
    background: transparent;
    /* color: white; */
    padding: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .fbar{
    color: white;
  }
}